* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  display: inline-grid;
  grid-template: repeat(5, 1fr)/repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
}

.left-menu {
  background-color: rgb(70, 142, 187);
  grid-area: 1/1/6/1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  
  
}

.logo {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.left-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1.5rem;

}

.left-menu a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.left-menu i {
  min-width: 40px;
}


.header {
  background-color: whitesmoke;
  grid-area: 1/2/1/7;

}

.projects {
  background-color: lightgray;
  grid-area: 2/2/6/6;
  padding: 25px;
  overflow: auto;
}

.announ-trending {
  background-color: lightgray;
  grid-area: 2/6/6/7;
  padding: 25px;
  overflow: auto;
}


.projects-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 5px;
}

.announcements-grid {

  background-color: lightgray;
  height: 50%;
}

.trending-grid {
  background-color: lightgray;
  margin-top: 70px;

}


.project-content {
  background-color: whitesmoke;
  border-left: 5px solid darkslategrey;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
}

.trending-content {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  margin-top: 5px;

}

.announcements-content {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  margin-top: 5px;


}