* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  display: inline-grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
}

.left-menu {
  background-color: rgb(70, 142, 187);
  grid-area: 1/1/7/1;
  display: flex;
  flex-direction: column;
  gap: 4rem;


}

.logo {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.8rem;

}

.left-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1.5rem;

}

.left-menu a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.left-menu a:hover {
  transform: scale(1.2);
}

.left-menu i {
  min-width: 40px;
}


.header {
  background-color: whitesmoke;
  grid-area: 1/2/1/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:0.2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50%;


}

.header-top-right {
  display: flex;
  height: 30%;
  gap: 1rem;
  align-items: center;
  justify-content: center;

}

.header-top-right img {
  border-radius: 50%;
  height: 2rem;
}

.header-top-left {
  display: flex;
  gap: 1rem;
  width: 80%;
  height: 30%;
  align-items: center;

}

.header-top-left input {
  border-radius: 10px;
  background-color: lightgray;
  min-width: 70%;
  min-height: 1.5rem;
  border: none;
}

.header-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  
}

.header-down-left {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.header-down-left img {
  height: 4rem;
  border-radius: 50%;

}

.header-down-right {
  display: flex;
  gap: 1rem;


}

.header-down-right button {
  border-radius: 20px;
  border: none;
  background-color: rgb(70, 142, 187);
  color: white;
  min-width: 6rem;
  min-height: 2rem;
  cursor: pointer;
  font-weight: bold;
}


.projects {
  background-color: lightgray;
  grid-area: 2/2/7/6;
  padding: 1.5rem;
  overflow: auto;
}


.projects-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 5px;
}


.project-content {
  background-color: whitesmoke;
  border-left: 5px solid darkslategrey;
  border-radius: 10px;
  height: 250px;
  padding: 25px;

}

.project-text {
  min-width: 100%;
  min-height: 90%;
}

.project-content p {
  margin-top: 5px;
  color: gray;
  text-align: justify;
}

.project-icon {
  display: flex;
  justify-content: end;
  gap: 1rem;

}

.project-icon i {
  color: gray;
}

.project-icon i:hover {
  transform: scale(1.2);
}


.announ-trending {
  background-color: lightgray;
  grid-area: 2/6/7/7;
  padding: 1.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.announcements-grid {

  background-color: lightgray;
  height: 50%;
}

.announcements-content {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.5rem;


}

.announc-border {
  border-bottom: 1px solid lightgray;
  margin: 1rem 0rem 1rem 0rem;
}


.trending-grid {
  background-color: lightgray;
  margin-top: 70px;

}

.trending-content {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 250px;
  padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.trending-block {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.trending-block img {
  border-radius: 50%;
  height: 2rem;
}

.trending-block p {
  color: gray;
  font-size: 0.8rem;
}