* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  display: inline-grid;
  grid-template: repeat(4, 1fr)/repeat(5, 1fr);
  background-color: burlywood;
  height: 100vh;
  width: 100vw;
}

.left-menu {
  background-color: lightskyblue;
  grid-area: 1/1/5/1;
}

.header {
  background-color: whitesmoke;
  grid-area: 1/2/1/6;
  position: sticky;
}

.projects {
  background-color: lightgray;
  grid-area: 2/2/5/5;
  padding: 25px;
  overflow: auto;
}


.projects-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 5px;


}

.project {
  background-color: whitesmoke;
  border-left: 5px solid darkslategrey;
  border-radius: 10px;
  height: 150px;
  padding: 10px;
}

.announ-trending {
  background-color: lightgray;
  grid-area: 2/5/6/6;
  padding: 25px;
  
  

}

.announcements-grid {
  
  background-color: lightgray;
  height: 50%;

}

.announcements-content {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 180px;
  padding: 10px;
  margin-top: 5px;

}

.trending-grid {
  background-color: lightgray;
  

}

.trending-content {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 180px;
  padding: 10px;
  margin-top: 5px;

}